html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* a tag */
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}

/* input check */
input[type='checkbox'] {
  width: 26px;
  height: 26px;
  border: 1px solid var(--camel-500);
  appearance: none;
  border-radius: 2px;
  background: #fff;
}
input[type='checkbox']:checked {
  background-color: var(--orange-500);
  color: #fff;
  position: relative;
}
input[type='checkbox']:checked:after {
  position: absolute;
  content: url('../img/check_icon.png');
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}

/* input text */
input[type='text'] {
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
}
input::placeholder {
  color: #c4c4c4;
}
input[type='text']:focus {
  outline: 2px solid var(--orange-500);
}

input[type='email'] {
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
}
input::placeholder {
  color: #c4c4c4;
}
input[type='email']:focus {
  outline: 2px solid var(--orange-500);
}

input[type='number'] {
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
}
input::placeholder {
  color: #c4c4c4;
}
input[type='number']:focus {
  outline: 2px solid var(--orange-500);
}
input[type='file'] {
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
}
input[type='file']:focus {
  outline: 2px solid var(--orange-500);
}
input[type='password'] {
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
}
input[type='password']:focus {
  outline: 2px solid var(--orange-500);
}

/* select */
select {
  box-sizing: border-box;
  padding: 14px 50px 14px 20px;
  font-size: 18px;
  border: 1px solid var(--cream-700);
  border-radius: 4px;
  color: #c4c4c4;
  appearance: none;
  width: auto;
  min-width: 150px;
  background: url('../../common/img/select_arrow.png') no-repeat 97% 50%/32px
    auto #fff;
}
select:focus {
  outline: 2px solid var(--orange-500);
  color: #000;
  background: url('../../common/img/select_arrow_up.png') no-repeat 97% 50%/32px
    auto #fff;
}

/* label */
label {
  color: var(--orange-500);
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

/* radio */
input[type='radio'] {
  appearance: none;
  width: 24px !important;
  height: 24px !important;
  border: 2px solid #c4c4c4;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  background: #fff;
}
input[type='radio']:checked {
  background-color: var(--orange-500);
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px var(--orange-500);
}

/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--bg-color);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: #fdf4e6;
  --orange-500: #ff4f37;
  --orange-700: #bb3a29;
  --camel-500: #886d4b;
  --mocha-500: #443523;
  --cream-300: #fffdfa;
  --cream-700: #e6d2b1;
}

#scrollToTopButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: solid 2px var(--orange-500);
  border-radius: 100px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  box-shadow: 6px 8px 30px rgba(136, 108, 75, 0.3);
  transition: all 0.2s linear;
}
#scrollToTopButton ion-icon {
  color: var(--orange-500);
  font-size: 24px;
}
#scrollToTopButton:hover {
  bottom: 55px;
}
