.img {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;    
  max-width: 30px;
}
.content {
  max-width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-delete-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 24px;
  font-size: 16px;
  color: var(--orange-500);
  border-radius: 4px;
  transition: all 0.3s;
  border: 1px solid var(--orange-500);
}

.modal-edit-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 24px;
  font-size: 16px;
  background: var(--orange-500);
  border-radius: 4px;
  transition: all 0.3s;
  border: 1px solid var(--orange-500);
  color: #fff;
}