<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자</title>
    
    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="/src/views/common/img/faviconx64.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/src/views/common/img/faviconx32.png" />
    <link rel="shortcut icon" href="/src/views/common/img/favicon.io.png" />
    
    <!-- custom -->
    <link rel="stylesheet" href="/src/views/common/css/reset.css">
    <link rel="stylesheet" href="/src/views/admin/common/admin.css">
    <link rel="stylesheet" href="/src/views/common/header/header.css">
    <link rel="stylesheet" href="/src/views/admin/products/products.css">
    <!-- JavaScript -->
    <script type="module" src="/src/views/admin/products/products.js"></script>
    
    <script src="/src/views/common/loadHTML.js"></script>
    
</head>

<body>
    <header data-load-html="/src/views/admin/common/header/header.html">
    </header>
    <div class="mainBox">
        <div class="inner">
            <div class="titleBox">
                <h2 class="title">상품 관리</h2>
                <button type="button" class="plus" id="add-btn">+ 상품 추가</button>
            </div>
            <div class="tableList">
                <table id="table-List">
                    <colgroup>
                        <col style="width:5%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:10%">
                        <col style="width:12%">
                        <col style="width:8%">
                        <col style="width:5%">
                        <col style="width:15%">
                    </colgroup>
                    
                    <thead class="head">
                        <th>베스트셀러</th>
                        <th>상품명</th>
                        <th>카테고리</th>
                        <th>상품 설명</th>
                        <th>가격</th>
                        <th>이미지</th>
                        <th>수량</th>
                        <th>별점</th>
                        <th>수정/삭제</th>
                    </thead>
                    
                    <tbody id="tbody">
                        <tr id="products-list" class="products-list">
                            <!-- <td>카테고리</td>
                                <td>상품명</td>
                                <td>상품 설명</td>
                                <td>가격</td>
                                <td><img src=""></td>
                                <td>2024-02-02</td>
                                <td>Y</td>
                                <td>
                                    <button id="openModalbtn1" class="edit">수정</button>
                                    <button id="openModalbtn2" class="delete">삭제</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container" id="myModal1">
        <div class="modal">
            <div class="modal-content">
                <!-- 모달 내용 -->
                <p>상품 수정</p>
                <!-- 추가 모달 내용 -->
                <div class="formBox">
                    <label for="BestsellerInput">베스트셀러</label>
                    <input type="checkbox" id="BestsellerInput">
                </div>
                <div class="formBox">
                    <label for="ProductInput">상품명</label>
                    <input type="text" placeholder="상품명">
                </div>
                <div class="formBox">
                    <label for="CategotyInput">카테고리</label>
                    <input type="text" placeholder="카테고리">
                </div>
                <div class="formBox">
                    <label for="DetailInput">상품설명</label>
                    <input type="text" placeholder="상품 설명">
                </div>
                <div class="formBox">
                    <label for="PriceInput">가격</label>
                    <input type="text" placeholder="가격">
                </div>
                <div class="formBox">
                    <label for="ImgUrlInput">img_url</label>
                    <div style="display: flex; justify-content: flex-start;">
                        <input type="file" id="file-input" style="display: none;">
                        <input type="text" placeholder="이미지" style="margin-right: 10px; width: 410px;">
                        <button id="upload-btn" class="upload-btn">업로드</button>
                    </div>
                </div>
                <div class="formBox">
                    <label for="QuantityInput">수량</label>
                    <input type="text" placeholder="수량">
                </div>
                <div class="formBox">
                    <label for="RateInput">베스트셀러</label>
                    <input type="text" placeholder="별점">
                </div>
                <button id="save-Btn1">저장</button>
            </div>
        </div>
    </div>
    <div class="modal-container" id="myModal2">
        <div class="modal">
            <div class="modal-content">
                <ul>
                    <li class="Exclamationpoint">
                        <a href="#">
                            <img src="/src/views/admin/common/image/Exclamation Point.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pagination-box">
        <ul class="pagination">
            <li class="previous-page">
                <a href="#">
                    <img src="../../category/image/btn-prev.png" alt="Previous">
                </a>
            </li>
            <li class="current-page" id="currentPageInfo">
                Page 1 of 5
            </li>
            <li class="next-page">
                <a href="#">
                    <img src="../../category/image/btn-next.png" alt="Next">
                </a>
            </li>
        </ul>
    </div>
</body>

</html>