footer {
    background-color: var(--orange-500);
    height: 209px;
    padding: 20px;
    text-align: center;
}

footer .logo {
    display: inline-block;
    margin: 50px 32px;
	--bg-color:#FDF4E6;
    color: var(--bg-color);
    list-style: none;
}

.copyright {
    margin-top: 20px;
    color: var(--bg-color);
}