<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter & Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="../common/img/faviconx64.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../common/img/faviconx32.png" />
    <link rel="shortcut icon" href="../common/img/favicon.io" />

    <!-- 커스텀 css -->
    <link rel="stylesheet" href="order-track.css">
    <link rel="stylesheet" href="../common/css/reset.css">
    <link rel="stylesheet" href="../common/header/header.css">
    <link rel="stylesheet" href="../common/footer/footer.css">
    <script type="module" src="./mypage.js"></script>
    <script src="../common/loadHTML.js"></script>
    <script type="module" src="../common/header/header.js"></script>

</head>

<body>
    <!-- header -->
    <header data-load-html="../common/header/header.html"></header>

    <div class="mainBox">
        <h1>My Account</h1>
        <div class="inner">
            <section class="order">
                <h3>Order History</h3>
                <div class="container">
                    <div class="table__head">
                        <p>주문 내역</p>
                        <p>주문 금액</p>
                        <p>진행 상태</p>
                    </div>
                    <div class="table__body">
                        <div class="table__body--top">
                            <span>주문 일자</span>
                            <b class='date'>${order.createAt}</b>
                            <span>주문 번호</span>
                            <b class="order-id">${order._id}</b>
                        </div>
                        <div class="table__body--bottom">
                            <div class='products'>title 외 1종</div>
                            <!-- ${order.products[0].name} 외 ${order.products.length - 1}종 -->
                            <div class='total-price'>20000</div>
                            <!-- ${order.total_price} -->
                            <div class='status'>${order.status}<button class="btn-order-edit" type='button'>주문
                                    수정</button>
                            </div>
                            <!-- 주문 상태가 '주문 완료'일 경우, 배송 .btn-order-edit에 클래스명 active 추가 / 그 외 비활성화 -->
                        </div>
                    </div>
                </div>
            </section>

            <section class="account">
                <h3>Account Details</h3>
                <div class="container">
                    <ul class='info-box'>
                        <li><span>Name</span><span class='name'>최세영</span></li>
                        <li><span>Email</span><span class='email'>butter@better.com</span></li>
                        <li><span>Phone</span><span class='phone'>010-1234-5678</span></li>
                        <li><span>Address</span><span class='address'>서울특별시 성동구 성수2가제3동 광나루로6길 49</span></li>
                    </ul>
                    <button class='btn-edit' type='button'>EDIT</button>
                </div>
            </section>

            <!-- ******** 회원 정보 수정 모달 BELOW ******** -->
            <div class="modal-container" id="edit-account">
                <div class="modal">
                    <div class="modal__edit-account">
                        <p>Edit Account Details</p>
                        <!-- 추가 모달 내용 -->
                        <div class="form">
                            <label for="name">Name *</label>
                            <input type="text" id="name" placeholder="이름">
                        </div>

                        <div class="form">
                            <label for="email">Email *</label>
                            <input type="text" id="email" placeholder="이메일">
                        </div>
                        <div class="form">
                            <label for="phone">Phone *</label>
                            <input type="text" id="phone" placeholder="휴대 전화, '-' 기호를 추가해 주세요.">
                        </div>

                        <div class="form address">
                            <label for="confirmPassword">Address *</label>
                            <div class="postalCode">
                                <input type="text" placeholder="우편번호" id="postCode">
                                <button type="button" id="searchAddressBtn">주소 검색</button>
                            </div>
                            <input type="text" placeholder="기본 주소" id="address">
                            <input type="text" placeholder="나머지 주소 (선택)" id="detail">
                        </div>

                        <button class="btn-save" type="submit">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer data-load-html=" ../common/footer/footer.html">
    </footer>
</body>

</html>