<div class="inner">
    <div class="top">
        <h1 class="logo"><a href="/"><img src="../common/img/logo.png" alt="로고 이미지"></a></h1>
        <div class="buttonBox">
            <ul class="buttons">
                <li class="button-admin hidden"><a href="/admin/order">Admin</a></li>
                <li class="button-user"><a href="#"><ion-icon name="person"></ion-icon></a></li>
                <li class="button-signout hidden"><a href="#">Logout</a></li>
                <li class="button-cart"><a href="/cart">Cart (<span class="num">0</span>)</a></li>
            </ul>
        </div>
    </div>

    <nav class="bottom">
        <ul class="menus" id="categoryList">
            <li class="menu"><a href="/books">All Books</a></li>
            <!-- 메뉴 리스트 생성 -->
        </ul>
    </nav>
</div>