<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter & Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- 커스텀 css -->
    <link rel="stylesheet" href="order.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../public/header/header.css">
    <link rel="stylesheet" href="../public/footer/footer.css">
    <script type="text/javascript" src="./order.js"></script>
    <script src="../public/loadHTML.js"></script>


</head>
<body>
    <!-- header -->
    <header data-load-html="../public/header/header.html"></header>

    <div class="mainBox">
        <div class="inner">
            <div class="inputBox">
                <div class="box contact">
                    <h3>Contact</h3>
                    <div class="input">
                        <form action="">
                            <input type="text" placeholder="이름">
                            <input type="text" placeholder="이메일">
                            <div class="phone">
                                <select name="phone" id="phone">
                                    <option value="010">010</option>
                                    <option value="010">016</option>
                                    <option value="010">017</option>
                                    <option value="010">010</option>
                                </select>
                                <input type="text">
                                <input type="text">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box delivery">
                    <h3>Delivery</h3>
                    <div class="input">
                        <form action="">
                            <input type="text" placeholder="이름">
                            <input type="text" placeholder="이메일">
                            <div class="phone">
                                <select name="phone" id="phone">
                                    <option value="010">010</option>
                                    <option value="010">016</option>
                                    <option value="010">017</option>
                                    <option value="010">010</option>
                                </select>
                                <input type="text">
                                <input type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 주문 완료 시 노출 -->
    <div class="orderCompletion"  style="display: none;">
        <div>
            <p class="text">
                감사합니다 :)<br>
                <span class="name">주문자 이름</span>님, 주문이 완료되었습니다.
            </p>
            <div class="buttons">
                <button type="button" class="mypage">주문 내역 확인하기</button>
                <button type="button" class="home" onclick="location.href='../home/home.html'" >메인으로 돌아가기</button>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer data-load-html="../public/footer/footer.html">
    </footer>
</body>

</html>