



.orderCompletion{

}
.orderCompletion > div{
    width: 1200px;
    margin: 0 auto;
    padding: 200px 0;
    box-sizing: border-box;
}
.orderCompletion > div p{
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
    color: var(--mocha-500);
    font-weight: 600;
}
.orderCompletion > div p span{
    color: var(--orange-500);
}
.orderCompletion > div .buttons{
    margin-top: 50px;
    text-align: center;
}
.orderCompletion > div .buttons button{
    font-size: 18px;
    color: var(--orange-500);
    box-sizing: border-box;
    padding: 18px 24px;
    border: 1px solid var(--camel-500);
    border-radius: 4px;
}
.orderCompletion > div .buttons button.home{
    margin-left: 32px;
    background: var(--orange-500);
    color: #fff;
}