<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드 예제</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="upload.css"> <!-- CSS 스타일시트 연결 -->
</head>

<body>
    <h2>이미지 업로드</h2>
    <h3>생성된 URL을 복사해주세요!</h3>
    <!-- 업로드 폼 직접 페이지에 표시 -->
    <form action="http://34.47.66.190:3000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">업로드</button>
    </form>
</body>

</html>