<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter & Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="/src/views/common/img/faviconx64.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/src/views/common/img/faviconx32.png" />
    <link rel="shortcut icon" href="/src/views/common/img/favicon.io" />

    <!-- 커스텀 css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/src/views/join/join.css">
    <link rel="stylesheet" href="/src/views/common/css/reset.css">
    <link rel="stylesheet" href="/src/views/common/header/header.css">
    <link rel="stylesheet" href="/src/views/common/footer/footer.css">
    <script type="module" src="/src/views/join/join.js"></script>
    <script src="/src/views/common/loadHTML.js"></script>
    <script type="module" src="/src/views/common/header/header.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>

<body>
    <!-- header -->
    <header data-load-html="/src/views/common/header/header.html"></header>

    <!-- main -->
    <div class="mainBox" id="mainBox">
        <div class="inner">
            <div class="titleBox">
                <h2>Create Account</h2>
            </div>

            <!-- join form -->
            <div class="joinForm">
                <form id="signForm">
                    <div class="form">
                        <label for="name">Name *</label>
                        <input type="text" id="name" placeholder="이름">
                    </div>

                    <div class="form">
                        <label for="email">Email *</label>
                        <input type="text" id="email" placeholder="이메일">
                    </div>

                    <div class="form">
                        <label for="password">Password *</label>
                        <input type="password" id="password" placeholder="비밀번호">
                    </div>

                    <div class="form">
                        <label for="confirmPassword">Confirm Password *</label>
                        <input type="password" id="confirmPassword" placeholder="비밀번호 확인">
                    </div>


                    <div class="form">
                        <label for="phone">Phone *</label>
                        <input type="text" id="phone" placeholder="휴대 전화">
                    </div>

                    <div class="form address">
                        <label for="confirmPassword">Address</label>
                        <div class="postalCode">
                            <input type="text" placeholder="우편번호" id="postCode">
                            <button type="button" id="searchAddressBtn">주소 검색</button>
                        </div>
                        <input type="text" placeholder="기본 주소" id="address">
                        <input type="text" placeholder="나머지 주소 (선택)" id="detail">
                    </div>

                    <button type="submit" class="signButton">SIGN IN</button>
                </form>
            </div>
        </div>
    </div>


    <!-- 회원가입 완료 시 노출 -->
    <div class="joinCompletion" id="messageDiv">
        <div>
            <h3>Welcome</h3>
            <p class="text">
                <ion-icon name="checkmark-circle"></ion-icon><br>
                <span class="textSpan">회원가입이 완료되었습니다.</span><br>
            </p>
            <div class="buttons">
                <a class="home" href="/login"> BACK TO LOGIN</a>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer data-load-html="/src/views/common/footer/footer.html"></footer>
</body>

</html>