<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter and Better</title>

    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="../css/reset.css">
    <script type="text/javascript" src="./home.js"></script>
</head>
<body>
    <header>
        <!-- 헤더 -->
    </header>    
    
    <main>
        <section class="Best-Sellers">
            <h1>Best Sellers</h1>            
        </section>
        <section>
            <ul class="Best-list">
                <!-- 제품을 반복하며 리스트 아이템을 생성 -->
                <li class="Best-item">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" alt="제품 이미지">
                        <h2 class="Best-name">제품 이름</h2>
                        <span class="Best-price">가격</span>
                    </a>
                </li>
            </ul>
        </section>        
        <section class="recommends">
            <h1>recommends</h1>
        </section>
        <section>
            <ul class="Recommends-random">
                <!-- 제품을 반복하며 리스트 아이템을 생성 -->
            </ul>
        </section>
    </main>
</body>
</html>

