<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../common/admin.css">
    <link rel="stylesheet" href="../../common/header/header.css">
    <script src="../common/loadHTML.js"></script>

</head>
<body>
    <header data-load-html="../common/header/header.html">
    </header>



    <div class="mainBox">
        <div class="inner">

            <div class="titleBox">
                <h2 class="title">주문 관리</h2>
            </div>

            <div class="tableList">
                <table>
                    <colgroup>
                        <col style="width:5%">
                        <col style="width:20%">
                    </colgroup>
    
                    <thead class="head">
                        <th>주문 정보</th>
                        <th>주문자 정보</th>
                    </thead>
                    
    
                    <tr>
                        <td>
                            <ul>
                                <li><b>주문 일자 : </b> 2022-11-12</li>
                                <li><b>주문 시간 : </b> 03:35:21</li>
                                <li><b>주문 번호 : </b> 20240220-000001</li>
                                <li><b>상태 : </b> 배송중</li>
                                <li><b>메세지 : </b> 전화주세요.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><b>주문 일자 : </b> 2022-11-12</li>
                                <li><b>주문 시간 : </b> 03:35:21</li>
                                <li><b>주문 번호 : </b> 20240220-000001</li>
                                <li><b>상태 : </b> 배송중</li>
                                <li><b>메세지 : </b> 전화주세요.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><b>주문 일자 : </b> 2022-11-12</li>
                                <li><b>주문 시간 : </b> 03:35:21</li>
                                <li><b>주문 번호 : </b> 20240220-000001</li>
                                <li><b>상태 : </b> 배송중</li>
                                <li><b>메세지 : </b> 전화주세요.</li>
                            </ul>
                        </td>
                    </tr>
                     
                </table>
            </div>
        </div>
        
    </div>

</body>
</html>