<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter & Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- 커스텀 css -->
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../public/header/header.css">
    <link rel="stylesheet" href="../public/footer/footer.css">
    <script type="text/javascript" src="./cart.js"></script>
    <script src="../public/loadHTML.js"></script>


</head>
<body>
    <!-- header -->
    <script>
        loadHTML("../public/header/header.html");
    </script>

    <!-- main -->
    <div class="mainBox">
        <div class="inner">
            <div class="titleBox">
                <h2>Your Cart</h2>
            </div>

            <div class="cartList">
                <table>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:60%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>

                    <thead class="head">
                        <th class="allCheck"><input type="checkbox"></th>
                        <th class="left">Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </thead>
                    

                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="left">
                            <div class="book">
                                <p class="img"><img src="https://picsum.photos/300/300" alt="책표지"></p>
                                <h3>Title Here</h3>
                            </div>
                        </td>
                        <td>₩17,000</td>
                        <td class="quantity"><input type="text" value="1"></td>
                        <td class="total_price">₩17,000</td>
                    </tr>
                </table>
            </div>

            <div class="infoBox">
                <div class="text">
                    <p>배송비 기본 정책은 3만원 이상 배송료 무료입니다.<br>3만원 미만 구입 시에는 배송비 3,000원이 부과되며 결제 시, 선불로 자동 추가됩니다.</p>
                </div>

                <div class="totalPrice">
                    <div class="box shoping">
                        <p class="title">Shoping</p>
                        <p class="price">₩3,000</p>
                    </div>
                    <div class="box total">
                        <p class="title">Total</p>
                        <p class="price">₩20,000</p>
                    </div>
                </div>
            </div>

            <div class="buttonBox">
                <button type="button">REMOVE</button>

                <div class="rightBox">
                    <button type="button">CONTINUE SHOPPING</button>
                    <button type="button" class="checkout">CHECK OUT</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 주문 완료 시 노출 -->
    <div class="orderCompletion"  style="display: none;">
        <div>
            <p class="text">
                감사합니다 :)<br>
                <span class="name">주문자 이름</span>님, 주문이 완료되었습니다.
            </p>
            <div class="buttons">
                <button type="button" class="mypage">주문 내역 확인하기</button>
                <button type="button" class="home" onclick="location.href='../home/home.html'" >메인으로 돌아가기</button>
            </div>
        </div>
    </div>

    <!-- footer -->
    <script>
        loadHTML("../public/footer/footer.html");
    </script>
</body>

</html>