table tr td{
    text-align: left;
    box-sizing: border-box;
    padding: 24px 24px 24px 0px;
}
td ul li{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}
td ul li b{
    font-weight: bold;
}
#state{
    margin-top: 10px;
}