<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter and Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <!-- 커스텀 css -->
    <link rel="stylesheet" href="Recommends.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../public/header/header.css">
    <link rel="stylesheet" href="../public/footer/footer.css">
    <script type="text/javascript" src="./detail.js"></script>
    <script src="../public/loadHTML.js"></script>

</head>
<body>    
    <!-- header -->
    <script>
        loadHTML("../public/header/header.html");
    </script>

    <!-- main -->
    <div class="Recommends-Box">
        <h1>Recommends</h1>
    </div>
    <div>
        <ul class="Recommends-list">
            <!-- 제품을 랜덤하며 리스트 아이템을 생성 -->
            <li class="Recommends-item">
                <a href="#">
                    <img src="https://picsum.photos/300/300" alt="제품 이미지">
                    <h2 class="Recommends-name">제품 이름</h2>
                    <span class="Recommends-price">가격</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- footer -->
    <script>
        loadHTML("../public/footer/footer.html");
    </script>
</body>
</html>