.mainBox .inner .topBox {
  box-sizing: border-box;
  padding: 80px 0;
  border-bottom: 1px solid var(--camel-500);
}
.mainBox .inner .topBox > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.mainBox .inner .topBox .bookImg {
  width: 480px;
  height: auto;
}
.mainBox .inner .topBox .bookImg p.img {
  width: 100%;
}
.mainBox .inner .topBox .bookImg p.img img {
  width: 100%;
  height: auto;
}
.mainBox .inner .topBox .bookInfo {
  width: 648px;
  height: auto;
  color: var(--orange-500);
}
.mainBox .inner .topBox .bookInfo h2.bookName {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 32px;
}
.mainBox .inner .topBox .bookInfo .option {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.mainBox .inner .topBox .bookInfo .option p {
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid var(--orange-500);
  border-radius: 100px;
}
.mainBox .inner .topBox .bookInfo .option .stars {
  display: flex;
  align-items: center;
  gap: 6px;
}
.mainBox .inner .topBox .bookText {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: var(--mocha-500);
  word-break: keep-all;
}
.mainBox .inner .topBox .price {
  font-size: 24px;
  font-weight: 500;
}
.mainBox .inner .topBox .quantityButton {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid var(--orange-500);
  border-radius: 100px;
  text-align: center;
  min-height: 60px;
  color: var(--orange-500);
}
.mainBox .inner .topBox .quantityButton span {
  font-size: 24px;
  display: inline-block;
  width: 20px;
}
.mainBox .inner .topBox .price {
  font-size: 24px;
  position: relative;
}
.mainBox .inner .topBox .price.sold-out {
  text-decoration: line-through;
}
.mainBox .inner .topBox .price.sold-out::after {
  content: 'Sold Out';
  padding: 4px 6px;
  border-radius: 2px;
  color: var(--camel-500);
  font-size: 18px;
  margin-left: 12px;
  position: absolute;
  white-space: nowrap;
}

.mainBox .inner .topBox .quantityButton button {
  font-size: 32px;
  color: var(--orange-500);
  display: flex;
  align-items: center;
}

.priceButton {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.mainBox .inner .topBox .priceButton .cartBtn {
  width: 490px;
  background: var(--orange-500);
  border-radius: 100px;
  color: #fff;
  box-sizing: border-box;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  min-height: 60px;
  letter-spacing: 0.5px;
}
.mainBox .inner .topBox .priceButton .cartBtn.inactive {
  pointer-events: none;
  background: var(--camel-500);
}
/* 
.mainBox .inner .topBox .priceButton button{
    color: #fff;
    font-size: 22px;
} */

.Recommends-Box {
  width: 1200px;
  text-align: center !important;
  display: block !important;
  padding: 60px;
  margin: 80px auto 0 !important;
  font-weight: 600;
  font-size: 42px;
  color: var(--orange-500);
  box-sizing: border-box;
  overflow: hidden;
  border-top: solid 1px var(--cream-700);
}

.Recommends-list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 66px;
  margin: 0 auto;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.Recommends-item {
  width: 100%;
  text-align: left;
}
.Recommends-item .img-container {
  width: 250px;
  height: 350px;
  margin-bottom: 12px;
  transition: box-shadow 0.3s ease-in;
}
.Recommends-item:hover .img-container {
  box-shadow: 6px 8px 30px rgba(136, 108, 75, 0.3);
}
.Recommends-item img {
  width: 100%;
  height: 100%;
}

.Recommends-item h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--orange-500);
}

.Recommends-item .Recommends-price {
  font-size: 18px;
  color: var(--camel-500);
}
