<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter and Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    
    <!-- 커스텀 css -->
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="../common/css/reset.css">
    <link rel="stylesheet" href="../common/header/header.css">
    <link rel="stylesheet" href="../common/footer/footer.css">
    <script type="module" src="./home.js"></script>
    <script src="../common/loadHTML.js"></script>
    <script type="module" src="../common/header/header.js"></script>

</head>
<body>
    <!-- header -->
    <header data-load-html="../common/header/header.html">
    </header>
    
    <!-- main_banner -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-1">
                <div class="slide_inner">
                    <div class="textBox">
                        <h3>
                            MAIN HEADING<br>AT LEAST<br>THREE SENTCES HERE
                        </h3>
                        <button type="button">See More</button>
                    </div>

                    <div class="imgBox">
                        <img src="../common/img/bn_ex_01.jpeg" alt="표지">
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-2">
                <div class="slide_inner">
                    <div class="textBox">
                        <h3>
                            MAIN HEADING<br>AT LEAST<br>THREE SENTCES HERE
                        </h3>
                        <button type="button">See More</button>
                    </div>

                    <div class="imgBox">
                        <img src="../common/img/bn_ex_02.jpeg" alt="표지">
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-3">
                <div class="slide_inner">
                    <div class="textBox">
                        <h3>
                            MAIN HEADING<br>AT LEAST<br>THREE SENTCES HERE
                        </h3>
                        <button type="button">See More</button>
                    </div>

                    <div class="imgBox">
                        <img src="../common/img/bn_ex_03.jpeg" alt="표지">
                    </div>
                </div>
            </div>
        </div>

        <!-- arrow -->
        <div class="arrowBox">
            <div class="swiper-button-next"><ion-icon name="arrow-forward-sharp"></ion-icon></div>
            <div class="swiper-button-prev"><ion-icon name="arrow-back-sharp"></ion-icon></div>
        </div>
        
    </div>
    
    <main>
        <section class="Best-Sellers">
            <h1>Best Sellers</h1>            
        </section>
        <section>
            <ul class="Best-list" id ="bestSellersList">
                <!-- 제품을 반복하며 리스트 아이템을 생성
                <li class="Best-item">
                    <a href="#">
                        <p claass="img"><img src="https://picsum.photos/300/300" alt="제품 이미지">
                        <h2 >제품 이름</h2>
                        <span class="price">가격</span>
                    </a>
                </li>-->
            </ul>
        </section>
        <section>
            <ul class="Recommends-random">
                <!-- 제품을 반복하며 리스트 아이템을 생성 -->
            </ul>
        </section>
    </main>

    <!-- footer -->
    <footer data-load-html="../common/footer/footer.html">
    </footer>
</body>

<script>


    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        loop: true,

    });

    
</script>

</html>

