/* .main {
    width: 800px;
    margin: 0 auto;
}

.Best-title {
    font-size: 60px;
    font-weight: bold;
}

.Best-Sellers {
    display: flex;

}

.Best-Seller-item {
    width: 300px;
    height:  300px;
    border: 1px solid black;
    margin-left: 15px;
    
} */

/* 메인 배너 */
.mySwiper {
  width: 100%;
  height: 520px;
  border-bottom: 1px solid var(--camel-500);
}
.mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.slide_inner {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.textBox {
  color: var(--orange-500);
  position: relative;
}
.textBox h3 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 30px;
  position: relative;
}
.textBox a {
  font-family: 'Pretendard' !important;
  font-size: 30px;
  font-weight: 500;
  color: var(--orange-500);
  box-sizing: border-box;
  padding: 16px 28px;
  border-radius: 100px;
  border: 1px solid var(--orange-500);
  transition: all 0.3s ease-in;
  box-shadow: 6px 8px 30px rgba(136, 109, 75, 0.125);
}

.textBox a:hover {
  background-color: var(--orange-500);
  color: var(--bg-color);
  transition: all 0.3s;
}

.imgBox {
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: auto;
}
.imgBox img {
  width: auto;
  height: 100%;
  position: absolute;
  right: 0;
}

.slide_inner .textBox h3::before {
  position: absolute;
  top: -38px;
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-color);
  background-color: var(--orange-500);
  padding: 6px 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  transform: rotate(-1deg);
}
.slide_inner.first .textBox h3::before {
  content: 'Pasta Grannies';
}
.slide_inner.second .textBox h3::before {
  content: 'Vegan Specialized';
}
.slide_inner.third .textBox h3::before {
  content: 'Simple Recipe';
}

.slide_inner .imgBox::after {
  content: '';
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slide_inner.first .imgBox::after {
  background-image: url(../common/img/banner_elem_01.png);
}
.slide_inner.second .imgBox::after {
  background-image: url(../common/img/banner_elem_03.png);
  transform: rotate(-5deg);
  left: -10px;
}
.slide_inner.third .imgBox::after {
  width: 100px;
  height: 312px;
  background-image: url(../common/img/banner_elem_05.png);
  left: 0;
}

.slide_inner .imgBox::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.slide_inner.second .imgBox::before {
  background-image: url(../common/img/banner_elem_04.png);
  transform: rotate(-5deg);
  top: 40px;
  left: 90px;
}

.arrowBox ion-icon {
  width: 54px;
  height: 54px;
  color: var(--orange-500);
  transition: color 0.3s ease-in;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  display: inline-block !important;
  transition: all 0.3s ease-in;
}
.swiper-button-prev {
  left: 50% !important;
  transform: translateX(-750px);
}
.swiper-button-next {
  right: 50% !important;
  transform: translateX(723px);
}
.swiper-button-prev:hover {
  margin-left: -8px;
}
.swiper-button-next:hover {
  margin-right: -8px;
}
.swiper-button-next:hover ion-icon,
.swiper-button-prev:hover ion-icon {
  color: var(--orange-700);
}

.Best-Sellers {
  width: 1200px;
  text-align: center;
  padding: 60px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 42px;
  color: var(--orange-500);
  box-sizing: border-box;
  overflow: hidden;
}

.Best-list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 66px;
  margin: 0 auto 60px;
  padding: 0 60px;
}

.Best-item {
  width: 100%;
  text-align: left;
  margin-top: 48px;
}
.Best-item:nth-child(-n + 4) {
  margin-top: 0;
}
.Best-item .img-container {
  width: 250px;
  height: 350px;
  margin-bottom: 12px;
  transition: box-shadow 0.3s ease-in;
}
.Best-item:hover .img-container {
  box-shadow: 6px 8px 30px rgba(136, 108, 75, 0.3);
}
.Best-item img {
  width: 100%;
  height: 100%;
}

.Best-item h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--orange-500);
}
.Best-item .price {
  font-size: 18px;
  color: var(--camel-500);
}
