.loginBox {
  height: 100vh;
}

.login {
  box-sizing: border-box;
  padding: 80px 0;
  border-bottom: 1px solid var(--camel-500);

  /* width: 1200px;
    text-align: center;
    padding: 60px;
    margin: 0 auto;     */
}

.login h1 {
  font-size: 42px;
  color: var(--orange-500);
  font-weight: 600;

  margin-top: 60px;
  margin-bottom: 60px;

  width: 1200px;
  text-align: center;
  padding: 60px;
  margin: 0 auto;
}

.login-box {
  padding: 20px;
  width: 600px;
  height: 396px;
  margin: 0 auto;
}

.login-box input[type='text'] {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

.login-box input[type='password'] {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

.login-box .signin-btn {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 10px;

  background-color: var(--camel-500);
  color: var(--cream-300);
}
.login h2 {
  font-size: 18px;
  color: var(--orange-500);
  font-weight: 500;
}

.login label {
  font-size: 18px;
  color: var(--orange-500);
  font-weight: 500;
  text-align: left;
}

/* 회원가입, a태그 */
.create-btn {
  font-size: 18px;
  color: var(--orange-500);
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 30px 0;
  text-align: center;
}
.create-btn a {
  font-size: 18px;
  color: var(--orange-500);
  font-weight: 500;
  transition: color 0.3s ease-in;
}
.create-btn a:hover {
  color: var(--orange-700);
}
