<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter & Better</title>

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="64x64" href="../common/img/faviconx64.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../common/img/faviconx32.png" />
    <link rel="shortcut icon" href="../common/img/favicon.io" />

    <!-- 커스텀 css -->
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="../common/css/reset.css">
    <link rel="stylesheet" href="../common/header/header.css">
    <link rel="stylesheet" href="../common/footer/footer.css">
    <script type="text/javascript" src="./cart.js"></script>
    <script type="module" src="../common/header/header.js"></script>
    <script src="../common/loadHTML.js"></script>
    <script src="./cart.js" type="text/javascript"></script>

</head>

<body>
    <!-- header -->
    <header data-load-html="../common/header/header.html"></header>

    <!-- main -->
    <div class="mainBox">
        <div class="inner">
            <div class="titleBox">
                <h2>Your Cart</h2>
            </div>

            <div class="cartList">
                <table>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:60%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>

                    <thead class="head">
                        <th class="allCheck"><input type="checkbox" class="checkbox ck-all"></th>
                        <th class="left">Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </thead>

                    <tr>
                        <td><input type="checkbox" class="checkbox ck"></td>
                        <td class="left">
                            <div class="book">
                                <p class="img"><img src="https://picsum.photos/300/300" alt="책표지"></p>
                                <h3>Title Here</h3>
                            </div>
                        </td>
                        <td class="one_price">₩15,000</td>
                        <td class="quantity">
                            <input type="number" class="quantity-input" value="1" min="1">
                        </td>
                        <td class="total_price">₩15,000</td>
                    </tr>
                </table>
            </div>

            <div class='cart-empty-message'>
                <p>장바구니에 담은 상품이 없습니다.</p>
            </div>

            <div class="infoBox">
                <div class="text">
                    <p>배송비 기본 정책은 3만원 이상 배송료 무료입니다.<br>3만원 미만 구입 시에는 배송비 3,000원이 부과되며 결제 시, 선불로 자동 추가됩니다.</p>
                </div>

                <div class="totalPrice">
                    <div class="box shoping">
                        <p class="title">Shipping</p>
                        <p class="price">₩3,000</p>
                    </div>
                    <div class="box total">
                        <p class="title">Total</p>
                        <p class="price">₩20,000</p>
                    </div>
                </div>
            </div>

            <div class="buttonBox">
                <button type="button" id="removeBtn">REMOVE</button>

                <div class="rightBox">
                    <!-- <button type="button" id="quantityBtn">QUANTITY EDIT</button> -->
                    <a class="continue-shopping" href='/src/views/home/home.html'>CONTINUE SHOPPING</a>
                    <button type="button" class="checkout">CHECK OUT</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 수량 수정
    <div class="modal-container" id="myModal1">
        <div class="modal">
            <div class="modal-content">
                모달 내용
                <p>카테고리 수정</p>
                추가 모달 내용
                <input type="text" placeholder="Quantity(수량)을 입력해주세요." id="categoryInput">
                <button type="button" id="save-Btn1">저장</button>
            </div>
        </div>
    </div> -->
    <!-- <script>
        const quantityInput = document.getElementById('quantity-input');

        // 초기 수량 설정
        let quantity = parseInt(localStorage.getItem('quantity')) || 1;
        quantityInput.value = quantity;

        // 수량 변경 이벤트
        quantityInput.addEventListener('change', function() {
            quantity = parseInt(this.value) || 1;
            localStorage.setItem('quantity', quantity);
        });
    </script> -->

    <!-- footer -->
    <footer data-load-html="../common/footer/footer.html"></footer>
</body>

</html>