.mainBox .inner {
  width: 1200px;
  margin: 0 auto;
  min-height: 714px;
}

.mainBox .inner .titleBox {
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0;
}

.mainBox .inner .titleBox h2 {
  font-size: 42px;
  color: var(--orange-500);
  font-weight: 600;
}
.cartList table {
  width: 100%;
  border-top: 1px solid var(--camel-500);
  border-bottom: 1px solid var(--camel-500);
  font-weight: 600;
}
.cartList table .head {
  color: var(--orange-500);
}
.cartList table th {
  font-size: 16px;
  box-sizing: border-box;
  padding: 24px 0px;
}
.cartList table th.left {
  text-align: left;
}
.cartList table tr {
  border-top: 1px solid var(--camel-500);
}
.cartList table tr td {
  text-align: center;
  box-sizing: border-box;
  padding: 24px 0;
  color: var(--orange-500);
}
.cartList table tr td.left {
  text-align: left;
}
.cartList table tr td.left .book {
  display: flex;
  align-items: center;
}
.cartList table tr td.left .book p.img {
  height: 100px;
  margin-right: 32px;
}
.cartList table tr td.left .book p.img img {
  height: 100%;
}
.cartList table tr td.left .book h3 {
  font-size: 20px;
  color: var(--orange-500);
}
/* 경림님 코드 */
.cartList table tr .quantity input {
  width: 80px;
  height: 49px;
  color: var(--orange-500);
  border: 1px solid var(--mocha-500);
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
}

.cart-empty-message {
  width: 100%;
  text-align: center;
  color: var(--camel-500);
  font-size: 16px;
  border-bottom: solid 1px var(--cream-700);
  box-sizing: border-box;
  padding: 54px 0;
  font-weight: 500;
  display: none;
}
.cart-empty-message.active {
  display: block;
}

.infoBox {
  box-sizing: border-box;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--camel-500);
}
.infoBox .text p {
  font-size: 16px;
  font-weight: 500;
  color: var(--camel-500);
  line-height: 1.8;
}
.totalPrice {
  width: 23%;
  color: var(--orange-500);
}
.totalPrice .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}
.totalPrice .box.total {
  margin-top: 12px;
}

.mainBox .buttonBox {
  box-sizing: border-box;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.mainBox .buttonBox #removeallBtn {
  margin-left: 10px;
}
.mainBox .buttonBox button,
.mainBox .buttonBox a {
  font-size: 18px;
  color: var(--orange-500);
  box-sizing: border-box;
  padding: 18px 24px;
  border: 1px solid var(--camel-500);
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.mainBox .buttonBox button:hover,
.mainBox .buttonBox a:hover {
  box-shadow: 6px 8px 30px rgba(136, 108, 75, 0.3);
}
.mainBox .buttonBox a.continue-shopping {
  margin-left: 32px;
}
.mainBox .buttonBox button.checkout {
  margin-left: 32px;
  background: var(--orange-500);
  color: var(--bg-color);
  border: none;
}

/* 모달 관련 */
/* button {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px 24px;
    font-size: 16px;
    color: var(--orange-500);
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid var(--orange-500);
  }
  
  .modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    color: var(--camel-500);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    padding: 40px;
    background-color: white;
    row-gap: 18px;
  }
  
  
  .modal-content input {
    width: 100%;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
 
  #save-Btn1 {
    width: 100%;
    height: 60px;
    padding: 8px;
    color: var(--bg-color);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--orange-500);
  } */
