<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
  <link rel="stylesheet" href="./category.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../public/header/header.css">
  <link rel="stylesheet" href="../public/footer/footer.css">
  <script type="text/javascript" src="./category.js"></script>
  <script src="../public/loadHTML.js"></script>

</head>
<body>
  <header data-load-html="../public/header/header.html">
  </header>

  <main>
    <section class="category">
      <h1>카테고리 이름</h1>
      <p>Description</p>
    </section>
    
    <section class="products-sort">
      <span class="total-count">100products</span>
      <select class="product-filter">
        <option value="최신상품">인기상품</option>
        <option value="인기상품">인기상품</option>
        <option value="낮은 가격순">낮은 가격순</option>
        <option value="높은 가격순">높은 가격순</option>
      </select>
    </section>
    
    <section>
      <ul class="product-list">
        <!-- 제품을 반복하며 리스트 아이템을 생성 -->
        <li class="product-item">
          <a href="#">
            <img src="https://picsum.photos/300/300" alt="제품 이미지">
            <h2>제품 이름</h2>
            <span class="price">price</span>
          </a>
        </li>
      </ul>
    </section>
    <div class="pagination-box" >
      <ul class="pagination">
        <li class="previous-page">
          <a href="#">
            <img src="./image/btn-prev.png" alt="Previous">
          </a>
        </li>
        <li class="current-page" id="currentPageInfo">
          Page 1 of 5
        </li>
        <li class="next-page">
          <a href="#">
            <img src="./image/btn-next.png" alt="Previous">
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer data-load-html="../public/footer/footer.html">
  </footer>
</body>
</html>
