

/* 카테고리 스타일 */
.category {
  width: 1200px;
  text-align: center;
  padding: 60px 0;
  margin: 0 auto;
}
.category h1 {
  font-size: 42px;
    margin-bottom: 20px;
  color: var(--orange-500);
  font-weight: 600;
}
.category p {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange-500);
}
.product-list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap : 40px;
  margin: 0 auto;
  padding: 0 60px;
}

.product-item {
  width: 100%;
  height: 354px;
  text-align: left;
  margin-top: 48px;
}

.product-item img {
  width: 100%;
  height: 276px;
  margin-bottom: 20px;
}
.product-item h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--orange-500);
}
.product-item .price {
  font-size: 18px;
  color:var(--camel-500);
}

/* sort 스타일 */
.products-sort {
  width: 1200px;
  height: 112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--camel-500);
  border-bottom: 1px solid var(--camel-500);
}

.products-filter {
  box-sizing: border-box;;
}

.products-sort select {
  /* 셀렉트 화살표 스타일 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('./image/arrow.png') no-repeat 100% 100%;
  background-size: 30px;
  padding-right: 0px;
  background-color: var(--bg-color);
  font-size: 18px;
  border: none;  
  color: var(--mocha-500);

  padding: 0 30px 0 10px;
  }

.total-count {
  font-size: 24px;
  font-weight: medium;
  color: var(--orange-500);
}

 /* 페이지네이션  */
 .pagination-box{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 60px 0;
 }
 .pagination {
  width: 391px;
  height: 132px;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.pagenation .previouse-page {
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.pagenation .next-page {
  text-decoration: none;
}
.current-page {
  font-size: 24px;
  font-weight: medium;
  padding: 32px;
  color: var(--orange-500);
}
/* 추후 수정예정  */
.pagination .active {
  color: #fff;
  cursor: default;
}

