<div class="inner">
    <div class="logo">
        <li class="logo-youtube">
            <a href="https://www.youtube.com/" target="_blank">
                <img src="/views/public/img/logo-youtube.png">
            </a>
        </li>
    </div>
    <div class="logo">
        <li class="logo-facebook">
            <a href="https://www.facebook.com/" target="_blank">
                <img src="/views/public/img/logo-facebook.png">
            </a>
        </li>
    </div>
    <div class="logo">
        <li class="logo-instagram">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="/views/public/img/logo-instagram.png">
            </a>
        </li>
    </div>
    <div class="logo">
        <li class="logo-github">
            <a href="https://github.com/" target="_blank">
                <img src="/views/public/img/logo-github.png">
            </a>
        </li>
    </div>
    <div class="copyright">
        <p>Ⓒ 2024 Butter & Better Books</p>
    </div>
</div>