<footer>
    <div class="inner">
        <div class="logo">
            <li class="logo-youtube">
                <a href="https://www.youtube.com/" target="_blank">
                  <img src="./image/logo-youtube.png" alt="youtube">
                </a>
            </li>
        </div>
        <div class="logo">
            <li class="logo-facebook">
                <a href="https://www.facebook.com/" target="_blank">
                  <img src="./image/logo-facebook.png" alt="facebook">
                </a>
            </li>
        </div>
        <div class="logo">
            <li class="logo-instagram">
                <a href="https://www.instagram.com/" target="_blank">
                  <img src="./image/logo-instagram.png" alt="instagram">
                </a>
            </li>
        </div>
        <div class="logo">
            <li class="logo-github">
                <a href="https://github.com/" target="_blank">
                  <img src="./image/logo-github.png" alt="github">
                </a>
            </li>
        </div>
    </div>
</footer>